@font-face {
    font-family: 'Ubuntu';
        src: url('/static/ubuntu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Ubuntu Condensed';
        src: url('/static/ubuntu-condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
