html {
    scroll-behavior: smooth;
}

a {
    outline: 0;
}

.decoration-none,
.decoration-none:hover,
.decoration-none:focus {
    text-decoration: none;
}


body {
    font-family: Ubuntu Condensed, Helvetica, Arial !important;
    overflow-y: scroll;
}

p {
    font-family: Ubuntu Condensed, Helvetica, Arial !important;
    font-size: medium;
    text-align: justify;
    padding: 10px;
    /* When the paragraph is very short and there is other entity like unordered list,
     * the list may end up on right hand side of paragraph, vertically alligned
     * to the middle of the paragraph if we don't apply below fix.
     ***/
    width: 100%;
}

ul {
    font-family: Ubuntu Condensed, Helvetica, Arial !important;
    font-size: medium;
}

code {
    border-radius: 5px;
    padding: 4px 6px 1px 6px;
    background-color:
    rgb(238, 232, 213);
}

@media (max-width: 767px) {
    .md-and-above {
        display: none;
    }
}

@media (min-width: 768px) {
    .sm-only {
        display: none;
    }

    .below-md {
        display: none;
    }

}
@media (max-width: 575px) {

    .sm-only {
        display: none;
    }

}

.nav-link {
    float: right;
}

.navbar {
    border: 0px;
}

.navbar-nav {
    margin-right: 20px;
}


.reproduction-img {
    padding: 1px;
    background-color: lightgray;
    width: auto;
}

.bottomed {
    position: fixed;
    bottom: -10px;
}

.nav-link,
.nav-logo {
    transition: 500ms ease;
    -webkit-transition: 500ms ease;
    -moz-transition: 500ms ease;
    -ms-transition: 500ms ease;
}

.nav-logo:hover {
    filter: brightness(125%);
}

ul.no-bullets {
    list-style-type: none;
}

.navbar {
}

#navbar-toggler {
    float: right;
}

video#backgroundvideo { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    width: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}

video#slideshowvideo { 
    position: absolute;
    left: 49%;
    width: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-20%);
    -moz-transform: translateX(-50%) translateY(-20%);
    -webkit-transform: translateX(-50%) translateY(-20%);
    transform: translateX(-50%) translateY(-20%);
}

@media (max-width: 767px) {
    video#slideshowvideo,
    video#backgroundvideo { 
        min-height: 100vh;
        max-height: 100vh;
    }
}

@media (min-width:768px) {
    video#slideshowvideo,
    video#backgroundvideo { 
        min-height: 100vh;
        height: auto;
    }

    video#slideshowvideo {
        min-width: 100vw;
        overflow: hidden;
        position: absolute;
    }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    opacity: 0;
}

h1 {
    opacity: 1
}


.iconsmall {
    width: 20%;
    height: 20%;
}

.text-dark {
    #002B36;
}

.background-dark2 {
    background-color: #073642;
}

.background-dark2trans {
    background-color: #073642d6;
}

.card {
    margin-bottom: 10px;
}

.card-body {
    text-align: center;
}

.card-sticker {
    border-radius: 100%;
    width: 50%;
    margin-bottom: 25px;
}

.card-title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.end-paragraph {
    margin-bottom: 75vh;
}

.jumbotron,
.jumbotron-fluid {
    color: #a3babd;
}

.jumbowork {
    background-image: url("/static/main/img/work.jpg");
}

.jumbocustomers {
    background-image: url("/static/main/img/customers.jpg");
}

.jumbocustomersleft {
    background-image: url("/static/main/img/customers.jpg");
    border-radius: 50%;
    height: 50vh;
    position: relative;
    top: 15vh;
}

.jumboall {
    background-image: url("/static/main/img/relaxed.jpg");
}

.jumbointro {
    background-image: url("/static/main/img/at-work.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.jumbobg {
    background-size: cover;
    background-position: center;
    color: white;
}

.jumbobg-left {
    background-size: 45%;
    background-position-y: 58px;
    background-repeat: no-repeat;
}

.jumbobg-top {
    background-size: cover;
    background-position: top;
    color: white;
}

.jumbomiddle {
    position: relative;
    top: 28vh;
}

.jumbofirst {
    height: calc(100vh - 58px);
    overflow: hidden;
}

.jumbonext {
    min-height: 100vh;
    linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    overflow: hidden;
}

.jumbohalf {
    position: relative;
    top: 50vh;
}

.jumbotop {
    position: relative;
    top: 11vh;
}

.jumbotron-showcase {
    background-image: linear-gradient(#073642, #031d23);
}

.jumbotron-showcase > .row > .col-md-6 {
    padding: 0px 30px;
}
